
---
import App from '../App.jsx'; // adapte le chemin si besoin
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/villak/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Villa K'ribean</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=play_arrow" />
  </head>
  
  <body>
   
    <App client:load />
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>