---
// Imports des composants React
import Header from '../components/Header.jsx';
import Herov2 from '../components/Herov2.jsx';
import About from '../components/About.jsx';
import Location from '../components/Location.jsx';
import Contact from '../components/Contact.jsx';
import Footer from '../components/Footer.jsx';
import '../assets/main.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=play_arrow" />
		<title>VilaDesKaribean</title>
	</head>
	<body>
		<div class="page">
			<section class="landing">
				<div class="header">
					<Header client:load />
				</div>
				<Herov2 client:load id="hero" />
			</section>
			<div id="about">
				<About />
			</div>
			<div id="location">
				<Location />
			</div>
		</div>
		<Footer />
	</body>
</html>
