---
import './main.css';
import About from './About.astro';
import Location from './Location.jsx';
import Contact from './Contact.jsx';
import Hero from './Hero.jsx';
import Footer from './Footer.jsx';
---

<div class="page">
  <section class="landing">
    <Hero client:load id="hero" />
  </section>
  <div id="about">
    <About />
  </div>
  <div id="location">
    <Location />
  </div>

</div>
<Footer /> 