

.aventureSection {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    position: relative;
    height: 50%;
    width: 100%;
  }
  
  .aventureTitle {
    position: relative;
    top: 35%;
    margin-right: 15rem;
    z-index: 3;
  
  }
  .aventureTitle h2 {
    font-size: 112px;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .aventureContent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  } 
  
  .aventureImage {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10rem;
  }
  
  .aventureImage img {
    object-fit: cover;
    object-position: center 20%;
    width: 100%;
    height: 100%;
  }
  
  .aventureText {
    text-align: left;
    width: 50%;
    /* font-size: 18px; */
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-left: 10rem;
    
  }]
  @media screen and (max-width: 1598px) {
    .decouverteImage, .aventureImage {
      width: 200px;
      height: 200px;
    }
  
    .decouverteText, .aventureText {
      font-size: 16px;
    }
  
    .decouverteTitle, .aventureTitle {
      padding-top: 4rem;
      margin: 0;
      width: 100%;
      text-align: center;
    }
  
    .decouverteTitle h2, .aventureTitle h2 {
      font-size: 80px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 1260px) {
    .decouverteTitle h2, .aventureTitle h2, .contactContainer h2 {
      font-size: 64px;
    }
  
    .decouverteContent, .aventureContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem;
    }
  
    .decouverteImage, .aventureImage {
      margin: 2rem 0;
    }
  
    .decouverteText, .aventureText {
      width: 100%;
      margin: 2rem 0;
      text-align: center;
    }
  
    .decouverteTitle, .aventureTitle {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
  /* Media Queries pour le responsive */
  @media screen and (max-width: 1024px) {
    .decouverteSection {
      height: auto;
      min-height: unset;
      padding: 2rem 0;
      gap: 2rem;
    }
  
    .decouverteContainer, .aventureSection {
      height: auto;
      margin-bottom: 2rem;
      padding: 1rem 0;
    }
  
    .decouverteContent, .aventureContent {
      padding: 1rem;
      height: auto;
      gap: 1rem;
    }
  
    .decouverteTitle, .aventureTitle {
      position: static;
      margin: 1rem 0;
      top: unset;
    }
  
    .decouverteText, .aventureText {
      margin: 1rem;
      width: 80%;
    }