.header {
    font-weight: 500;
    font-size: 1.75rem;
    width: 100%;
    height: 100px;
      
    }
    
    .navContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      height: 100%;
      padding: 2rem;
    }
  
    .logo p{
      font-size: 2rem;
      font-weight: 400;
      color: rgb(255, 255, 255);

    }
  
    /* .navLinks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      gap: 2rem;
    }
  
    .navLinks a {
      text-decoration: none;
      color: inherit;
      font-size: 1.25rem;
    } */
    
  
    
    h1 {
      font-size: 64px;
    }