.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 0;
    border-bottom: solid 5px rgb(0, 0, 0, 0.03);
  
  }
  
  .heroImage {
    scale: 1.3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
  
  .hero h1 {
    position: absolute;
    top: 90%;
    left: 70%;
    width: 150%;
    height: 50%;
    font-size:59px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 70% 70% 0 0;
    padding: 5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  
  .heroButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    cursor: pointer;
   
  }
  
  .heroButton:hover {
    transform: translate(-50%, 25px);
    transition: transform 0.3s ease;
  }
  
  .heroButtonIcon {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    transition: all 0.3s ease;
    filter: brightness(0) invert(1);
  }
  
  .heroButtonIcon:hover {
    opacity: 1;
    transform: translateY(15px);
  }
  
  .heroText {
    position: absolute;
    top: 90%;
    left: 60%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 12%;
  }