.locationSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100vw;
    height: 28vh;
    margin-top: 2rem;
  }
  
  .locationContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .locationContainer img {
    object-fit: cover;
    object-position: center 20%;
    width: 120%;
    
  }