.toogleList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    gap: 2rem;


    
}

.toogleList ul {
    list-style: none;
    color: inherit;
    

}

.toogleList li {
    padding: 0.25rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 22px;
}

.toogleList li:hover {
    background-color: rgb(255, 255, 255, 0.3);
   
}